<meta charset="UTF-8">
<title>{{#if pageTitle }}{{pageTitle}}{{else}}{{site.title}}{{/if}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<meta name="description" content="{{description}}">
{{#if build.excludeRobots}}
<meta name="robots" content="noindex">
{{else}}
  {{#if metaRobots}}
  <meta name="robots" content="{{metaRobots}}">
  {{/if}}
{{/if}}

<meta property="og:title" content="{{#if ogTitle }}{{ogTitle}}{{else}}{{title}}{{/if}}">
<meta property="og:description" content="{{#if ogDescription }}{{ogDescription}}{{else}}{{description}}{{/if}}">
<meta property="og:site_name" content="{{site.title}}">
<meta property="og:type" content="{{ogType}}">
<meta property="og:url" content="{{site.url}}/{{#if path}}{{path}}/{{/if}}">
<meta property="og:image" content="{{site.url}}/images/{{ogImage}}">
<meta property="og:image:alt" content="{{ogImageAlt}}">

<meta name="twitter:card" content="{{twitterCard}}" />
<meta name="twitter:site:id" content="{{twitterSiteId}}" />

<link rel="stylesheet" href="/styles/style.css">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#241c1c">
<meta name="msapplication-TileColor" content="#241c1c">
<meta name="theme-color" content="#241c1c">
