<meta charset="UTF-8">
<title>{{#if pageTitle }}{{pageTitle}}{{else}}{{site.title}}{{/if}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<meta name="description" content="{{description}}">
<meta property="og:title" content="{{#if ogTitle }}{{ogTitle}}{{else}}{{title}}{{/if}}">
<meta property="og:site_name" content="{{site.title}}">
<meta property="og:type" content="{{ogType}}">
<meta property="og:url" content="{{site.url}}/{{#if path}}{{path}}/{{/if}}">
<meta property="og:image" content="{{site.url}}/images/{{ogImage}}">
<meta property="og:image:alt" content="{{ogImageAlt}}">

<meta name="twitter:card" content="{{twitterCard}}" />
<meta name="twitter:site" content="{{twitterSite}}" />

<link rel="stylesheet" href="/styles/style.css">
