<p class="grav-c-job-card">
  <a href="{{url}}" typeof="schema:JobPosting">
    <span property="schema:title">{{title}}</span>
    <meta property="schema:datePosted" content="{{datePosted}}">
    <meta property="schema:employmentType" content="{{typeOfEmployment}}">
    <meta property="schema:industry" content="{{industry}}">
    <meta property="schema:description" content="For the full job description please visit: {{url}}">
    <link property="schema:hiringOrganization" href="https://buildit.wiprodigital.com/thing/buildit-org">
    <link property="schema:jobLocation" href="https://buildit.wiprodigital.com/thing/job-location/{{location.countryCode}}/{{location.citySlug}}">
  </a>
</p>
