<div class="grav-c-location-card" typeof="schema:Place" resource="https://buildit.wiprodigital.com/thing/studio/{{countryCode}}/{{ citySlug }}">
  <h2>{{title}}</h2>
  <p property="schema:address" typeof="schema:PostalAddress">
    <span property="schema:streetAddress">
      {{address.line1}}
      {{#if address.line2}}
        <br>
        {{address.line2}}
      {{/if}}
      {{#if address.line3}}
        <br>
        {{address.line3}}
      {{/if}}
    </span>
    <br>

    {{#compare postcodePosition "===" "below"}}
      <span property="schema:addressLocality">{{city}}</span>
      <br>
    {{/compare}}
    {{#compare postcodePosition "===" "after"}}
      <span property="schema:addressLocality">{{city}}</span>
    {{/compare}}
    {{#if postRegion}}<span property="schema:addressRegion">{{postRegion}}</span> {{/if}}<span property="schema:postalCode">{{postcode}}</span>
    {{#compare postcodePosition "===" "before"}}
      <span property="schema:addressLocality">{{city}}</span>
    {{/compare}}
    
    <br>
    <span property="schema:addressCountry" content="{{countryCode}}">{{country}}</span>
  </p>
  <a href="{{map}}" rel="schema:hasMap" title="See {{title}} office on Google Maps - Opens in a new tab" target="_blank">
    <img src="{{img.url}}" alt="{{img.alt}}">
  </a>
  <meta property="schema:name" content="Buildit's {{title}} office">
</div>
