<div class="grav-c-location-card">
  <h2>{{name}}</h2>
  <p>
    {{#if addressline1}}{{addressline1}}<br>{{/if}}
    {{#if addressline2}}{{addressline2}}<br>{{/if}}
    {{#if city}}{{city}}<br>{{/if}}
    {{#if postcode}}{{postcode}}<br>{{/if}}
    {{#if country}}{{country}}{{/if}}
  </p>
  <a href="{{map-link}}" title="See {{name}} office on Google Maps - Opens in a new tab" target="_blank">
    <img src="{{img}}" alt="{{img-alt}}">
  </a>
</div>