<section class="grav-c-job-list">
  <header typeof="schema:Place" resource="https://buildit.wiprodigital.com/ns/job-location/{{location.countryCode}}/{{location.citySlug}}">
    <h2 property="schema:address" typeof="schema:PostalAddress">
      <span property="schema:name">
        <span property="schema:addressLocality">{{location.city}}</span>,
        {{location.country}}
      </span>
      <meta property="schema:addressCountry" content="{{location.countryCode}}">
    </h2>
  </header>
  <ul>
    {{#each jobs}}
    <li>
      {{> molecule-job-card }}
    </li>
    {{/each}}
  </ul>
</section>
