{{#extend "page"}}
{{#content "main"}}

  {{#title}}
    <h1>{{title}}</h1>
  {{/title}}

  <section class="grav-c-hero">
    <canvas></canvas>
    {{#if hero.pullout}}<blockquote class="grav-c-pullout">{{hero.pullout}}</blockquote>{{/if}}
    {{#if hero.paragraph}}<p>{{hero.paragraph}}</p>{{/if}}
    {{#if hero.cta-label}}<a href="{{hero.url}}" class="grav-c-cta grav-c-cta--inverted">{{hero.cta-label}}</a>{{/if}}
  </section>

  <section class="grav-o-container">
    <blockquote>{{{blockquote}}}</blockquote>
  </section>
  
  <section class="grav-o-container grav-u-text-centered">
    <p>Some areas of practice we are passionate about: </p>
    <ul class="grav-c-two-columns-text">
      {{#each items}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    <p>To learn more, check out our <a href="https://medium.com/buildit/">blog</a>.</p>
  </section>

  {{>scripts-footer}}

{{/content}}
{{/extend}}
